

/* .background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/free-vector/flat-design-travel-background_23-2149193475.jpg');
  background-size: cover;
  background-position: center;
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.home-container {
  color: #333;
  text-align: center;
  position: relative;
  background: linear-gradient(135deg, #f1f1f3 0%, #f1f6ff 100%); /* Blue gradient background */

}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-container {
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  background: linear-gradient(135deg, #f5f5f5 0%, #ebedf1 100%,0.9);  /* Slightly transparent background */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px auto;

}

.banner {
  margin-bottom: 60px;
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000129;
  font-weight: 700;
  text-transform: uppercase;
}

.banner p {
  font-size: 1.3em;
  margin-bottom: 30px;
  color: #666;
}

.trip-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  text-align: left;
}
.trip-paragraph {
  color: #250505;
}
.tour-travel-logo {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

.trip-description {
  max-width: 800px;
  text-align: center;
}

.explore-heading {
  font-size: 2.2em;
  color: #010030;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.trip-paragraph {
  margin-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.6;
}

.gallery-container {
  margin-bottom: 60px;
  padding: 0 20px;
}

.gallery-heading {
  font-size: 2.2em;
  color: #030031;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 15px;
  width: 350px;
  height: 250px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.testimonial-container {
  margin-bottom: 60px;
}

.testimonial-heading {
  font-size: 2.2em;
  color: #030031;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.testimonial p{
  color: #030031;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 60%;
  transition: box-shadow 0.3s ease;
}

.testimonial:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.testimonial h3 {
  margin-top: 15px;
  color: #030031;
  font-weight: bold;
  font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .trip-info {
    flex-direction: column;
  }

  .tour-travel-logo {
    margin-bottom: 20px;
  }

  .gallery-item {
    width: 100%;
    height: auto;
  }

  .gallery-item-info {
    width: calc(100% - 40px);
  }

  .testimonial {
    width: 90%;
  }
}
